name: Run Tests on PR Creation

on:
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Clear cache
        env:
          ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL}}
          TESTNET_DEPLOYER_PK: ${{secrets.TESTNET_DEPLOYER_PK}}
        run: yarn hardhat clean --config hardhat-continuous-integration.config.js

      - name: Compile contracts
        env:
          ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL}}
          TESTNET_DEPLOYER_PK: ${{secrets.TESTNET_DEPLOYER_PK}}
        run: yarn hardhat compile --config hardhat-continuous-integration.config.js

      # - name: Test yield generation. Forked
      #   env:
      #     FORK: ${{secrets.FORK}}
      #     ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      #     TESTNET_DEPLOYER_PK: ${{ secrets.TESTNET_DEPLOYER_PK }}
      #   run: yarn test ./test/fork/01-yield-generation.test.js --config hardhat-continuous-integration.config.js

      # - name: Test yield getters. Forked
      #   env:
      #     FORK: ${{secrets.FORK}}
      #     ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      #     TESTNET_DEPLOYER_PK: ${{ secrets.TESTNET_DEPLOYER_PK }}
      #   run: yarn test ./test/fork/03-yield-generation-getters.test.js --config hardhat-continuous-integration.config.js

      # - name: Test term facet
      #   env:
      #     ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      #     TESTNET_DEPLOYER_PK: ${{ secrets.TESTNET_DEPLOYER_PK }}
      #   run: yarn test ./test/unit/01-by-facet/01-term-facet.test.js --config hardhat-continuous-integration.config.js

      # - name: Test collateral facet
      #   env:
      #     ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      #     TESTNET_DEPLOYER_PK: ${{ secrets.TESTNET_DEPLOYER_PK }}
      #   run: yarn test ./test/unit/01-by-facet/02-collateral-facet.test.js --config hardhat-continuous-integration.config.js

      # - name: Test fund facet
      #   env:
      #     ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      #     TESTNET_DEPLOYER_PK: ${{ secrets.TESTNET_DEPLOYER_PK }}
      #   run: yarn test ./test/unit/01-by-facet/03-fund-facet.test.js --config hardhat-continuous-integration.config.js
       
      # - name: Test expulsions
      #   env:
      #     ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      #     TESTNET_DEPLOYER_PK: ${{ secrets.TESTNET_DEPLOYER_PK }}
      #   run: yarn test ./test/unit/01-by-facet/05-beneficiary-expelled.test.js --config hardhat-continuous-integration.config.js

      # - name: Test combined
      #   env:
      #     ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      #     TESTNET_DEPLOYER_PK: ${{ secrets.TESTNET_DEPLOYER_PK }}
      #   run: yarn test ./test/unit/02-combined-tests/combined.test.js --config hardhat-continuous-integration.config.js